body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.auth-container input,
.auth-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  background: #0a66c2;
  color: white;
  border: none;
  cursor: pointer;
}

.linkedin-btn {
  width: 100%;
  padding: 10px;
  background: #0077b5;
  color: white;
  border: none;
  margin-top: 10px;
}

.link-text {
  margin-top: 15px;
  color: #0a66c2;
  cursor: pointer;
}
